{% extends 'auctions/layout.html' %}

{% block title %}{{listing.title}}{% endblock %}

{% block body %}
<h1>{{listing.title}}</h1>
{% if user.is_authenticated %}
<form action="{% url 'watchlist' %}" method="post">
    <input type="submit" value="Watchlist">
</form>
{% endif %}
<div>
    <img src="{{listing.image}}">
</div>

<div>
    <p>{{listing.description}}</p>
    <p>${{listing.start_bid}}</p>
</div>

<div>
    <p>Listed by: {{listing.creator}}</p>
    <p>Category:
        {% if listing.category is null %}
        No category listed
        {% else %}
        {{listing.category}}
        {% endif %}
    </p>
</div>

<div>
    {% for comment in comments %}

    {% endfor %}
</div>

{% endblock %}