{% extends 'auctions/layout.html' %}

{% block title %}{{listing.title}}{% endblock %}

{% block body %}
<h1>{{listing.title}}</h1>
{% if not listing.active %}
<h2>Listing is closed</h2>
<p>Winner is {{winner}}</p>
{% else %}
{% if user.is_authenticated %}
{% if user == listing.creator %}
<form action="{% url 'listing' listing.id listing.title %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Close auction" name="close">
</form>
{% endif %}
<form action="{% url 'watchlist' %}" method="post">
    {% csrf_token %}
    <input name="listing_id" value="{{listing.id}}" type="hidden">
    {% if in_watchlist > 0 %}
    <input type="submit" value="Remove from Watchlist" name="remove">
    {% else %}
    <input type="submit" value="Watchlist" name="add">
    {% endif %}
</form>
{% endif %}
{% endif %}
<div>
    <img src="{{listing.image}}">
</div>

<div>
    <h4>Description</h4>
    <p>{{listing.description}}</p>
    <p>Starting bid: ${{listing.start_bid}}</p>
    {% if current_bid is not None %}
    <p>Current bid: ${{current_bid}}</p>
    {% else %}
    {% endif %}
    {% if not winner or listing.active %}
    {% if message %}
    <div class="error_msg">{{message}}</div>
    {% endif %}
    <form action="{% url 'bid_error' listing.id listing.title %}" method="post">
        {% csrf_token %}
        <label for="amount">Your bid: </label>
        <input type="text" id="amount" name="amount">
        <input type="submit" value="Place bid" name="bid">
    </form>
    {% endif %}
</div>

<div id="info">
    <p>Listed by: {{listing.creator}}</p>
    <p>Category:
        {% if listing.category is null %}
        No category listed
        {% else %}
        {{listing.category}}
        {% endif %}
    </p>
</div>

<div id="comment">
    <h3>Comments</h3>
    {% if user.is_authenticated %}
    <h4>Leave a comment</h4>
    <form method="post" action="{% url 'listing' listing.id listing.title %}">
        {% csrf_token %}
        <textarea placeholder="Your comment here..." name="content"></textarea>
        <input type="submit" value="Submit">
    </form>
    {% endif %}
    {% for comment in comments %}
    <div>
        <h5>{{comment.commenter}}</h5>
        {{comment.created_on}}
        <p>{{comment.content}}</p>
    </div>
    {% endfor %}
</div>

{% endblock %}